#root {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.terminal-window {
  text-align: left;
  border-radius: 10px;
  margin: auto;
  position: relative;
  box-shadow: 0 50px 100px rgb(50 50 93 / 5%), 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 10%);
}

.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background:#003366;
  padding: 10px;
  box-sizing: border-box;
  width: 485px;
  height: 650px;
  top: 30px;
  bottom: 0;
  overflow: hidden;
  padding: 1rem;
}

.terminal h3 {
  color: #e7d184;
}

.terminal a {
  text-decoration: none;
  color: #35feff;
}

.type {
  width: fit-content;
}

/* animation of blinking cursor */
.type h1 {
  padding-right: 0.5rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .3em solid; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
      typing 3.5s steps(40, end),
      blink-caret-white .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret-white {
  from, to { border-color: transparent }
  50% { 
    --tw-text-opacity: 1;
    border-color: rgb(153 246 228 / var(--tw-text-opacity)); }
}

@media only screen and (max-width: 660px) {
  .Terminal {
      margin: 0;
  }

}