@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  background-image: linear-gradient(to right, #0f1a29, #051a21, #061818, #0c1410, #0f100d); 
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f1a29; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2f5ea; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4fd1c5; 
}

ul > li > code {
  background-color: #696969;
  border-radius: 3px;
  padding: 2px 4px;
  border-radius: 5px;
} 

pre > code {
  border-radius: 5px; 
  background-color: #696969;
  display: block;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre;
  border-radius: 3px;
}

code {
  border-radius: 5px;

}

.docs h1:after, h2:after {
  content: "";
  display: block;
  position: relative;
  top: 0.33em;
  border-bottom: 1px solid hsla(0,0%,50%,.33);
}

.docs {
  margin: 2rem 0;
  padding: 0 1rem;
}

